@{
    ViewBag.Title = "Index";
}

<div id="customer-list">
    <table class="table table-bordered table-condensed table-striped"  >
        <tr>
            <th>ID</th>
            <th>Company</th>
            <th>Contact</th>
            <th>City</th>
            <th>Country</th>
        </tr>
    </table>
</div>

