@{
    ViewBag.Title = "Index";
}

<div id="customer-list">
    <h2>Customers</h2>
    <table class="table table-bordered table-condensed table-striped"  >
        <tr>
            <th></th>
            <th>ID</th>
            <th>Company</th>
            <th>Contact</th>
            <th>City</th>
            <th>Country</th>
        </tr>
    </table>
</div>

<div id="customer-detail" style="display: none;">
    <h2>Customer</h2>

    <button class="btn btn-default" id="btn-show-customer-list">Torna all'elenco</button>
</div>